* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}
body {
  background-color: #f1f1f1;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle .menu {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.menu .item {
  border-top: 1px solid #1c85b6;
  overflow: hidden;
}
.menu .item:target .smenu {
  max-height: 10em;
  transition: 0.5s;
}
.menu .btn {
  display: block;
  padding: 16px 20px;
  background-color: #107fb3;
  color: #fff;
  position: relative;
}
.menu .btn:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #107fb3;
  left: 20px;
  bottom: -7px;
  rotate: 45deg;
}
.menu .btn i {
  margin-right: 10px;
}
.menu .smenu {
  background-color: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu a {
  display: block;
  padding: 16px 26px;
  color: #fff;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #107fb3;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu a:hover:before {
  opacity: 1;
}
